include LICENSE
include README.md
include requirements.txt
include pyproject.toml
include setup.py
recursive-include src *.hpp *.cpp *.cu *.cuh *.h
recursive-include pybind *.hpp *.cpp *.cu *.cuh
recursive-include MinkowskiEngine *.py
include src/3rdparty/*.cuh
recursive-include src/3rdparty *.cuh *.hpp *.h
recursive-include src/primitives *.cuh *.hpp *.h
